
<div class="container">
  <div class="content">
  <div class = "shadow-lg p-3 mb-5 bg-white rounded">
<%= form_with(model: cliente, local: true, :class => "row g-3") do |form| %>
  <% if cliente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cliente.errors.count, "error") %> prohibited this cliente from being saved:</h2>

      <ul>
        <% cliente.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


   <div class="col-md-4">
    <label for="validationCustom01" class="form-label">Nombre</label>
    <%= form.text_field :nombre, :class => "form-control", :id => "validationCustom01", :required => true, :placeholder => "Jesus" %>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <div class="col-md-4">
    <label for="validationCustom02" class="form-label">Apellido paterno</label>
    <%= form.text_field :apellido_p, :class => "form-control", :id => "validationCustom02", :required => true, :placeholder => "Perez"%>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <div class="col-md-4">
    <label for="validationCustomUsername" class="form-label">Apellido_materno</label>
    <div class="input-group has-validation">
      <%= form.text_field :apellido_m, :class => "form-control", :id => "validationCustom02", :required => true, :placeholder => "Angeles"%>
      <div class="invalid-feedback">
        Please choose a username.
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <label for="validationCustom03" class="form-label">Direccion</label>
       <%= form.text_field :direccion, :class => "form-control", :id => "validationCustom03", :required => true, :placeholder => "la ermita, soriano, colon, Qro." %>
    <div class="invalid-feedback">
      Please provide a valid city.
    </div>
  </div>
  <div class="col-md-3">

    <%= form.label :Cel, :class => "form-label"%>
    <%= form.number_field :numero, :class => "form-control", :required => true, :placeholder => "441298354" %>
  </div>
    <div class="actions">
      <%= form.submit %>
    </div>
  
<% end %>
  
  </div>
  </div>
  
</div>
