<p id="notice"><%= notice %></p>

<h1>Clientes</h1>
<div class="container">
<%= link_to 'New Cliente', new_cliente_path %>
<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido p</th>
      <th>Apellido m</th>
      <th>Direccion</th>
      <th>Numero</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clientes.each do |cliente| %>
    
    
      <tr>
   
        <td>
        <%= cliente.nombre %></td>
        <td><%= cliente.apellido_p %></td>
        <td><%= cliente.apellido_m %></td>
        <td><%= cliente.direccion %></td>
        <td><%= cliente.numero %></td>
        <td><%= link_to 'Mostrar', cliente %></td>
        <td><%= link_to 'Editar', edit_cliente_path(cliente) %></td>
        <td><%= link_to 'Eliminar', cliente, method: :delete, data: { confirm: 'Estas seguro de eliminar?' } %></td>
      </tr>
    <% end %>
  </tbody>
 </table>
 </div>