<p id="notice"><%= notice %></p>

<h1>Producto Productos</h1>

<table>
  <thead>
    <tr>
      <th>Barcode</th>
      <th>Descripcion</th>
      <th>Precio</th>
      <th>Umedidas</th>
      <th>Categorias</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @producto_productos.each do |producto_producto| %>
      <tr>
        <td><%= producto_producto.barcode %></td>
        <td><%= producto_producto.descripcion %></td>
        <td><%= producto_producto.precio %></td>
        <td><%= producto_producto.umedidas_id %></td>
        <td><%= producto_producto.categorias_id %></td>
        <td><%= link_to 'Show', producto_producto %></td>
        <td><%= link_to 'Edit', edit_producto_producto_path(producto_producto) %></td>
        <td><%= link_to 'Destroy', producto_producto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Producto Producto', new_producto_producto_path %>
