<p id="notice"><%= notice %></p>

<h1>Producto Productos</h1>
  <%= link_to producto_umedidas_url do %>
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">Unidad de Medida</h5>
                    <h6 class="card-subtitle mb-2 text-muted"></h6>
                    <p class="card-text"></p>
                    <%= link_to 'Nueva unidad de medida', new_producto_umedida_path, :class=>"card-link" %><br>
                    <a href="#" class="card-link"></a>
                  </div>
                </div>    
  <%end%>
    <%= link_to producto_categorias_url do %>
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">Categoria</h5>
                    <h6 class="card-subtitle mb-2 text-muted"></h6>
                    <p class="card-text"></p>
                    <%= link_to 'Nueva categoria', new_producto_categoria_path, :class=>"card-link" %><br>
                    <a href="#" class="card-link"></a>
                  </div>
                </div>    
  <%end%>
<table class="table">
  <thead>
    <tr>
      <th>Barcode</th>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Precio</th>
      <th>Umedida</th>
      <th>Categoria</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @producto_productos.each do |producto_producto| %>
      <tr>
        <td><%= producto_producto.barcode %></td>
        <td><%= producto_producto.nombre %></td>
        <td><%= producto_producto.descripcion %></td>
        <td><%= number_to_currency producto_producto.precio %></td>
        <td><%= producto_producto.Umedida.medida %></td>
        <td><%= producto_producto.Categoria.categoria %></td>
        <td><%= link_to 'Show', producto_producto %></td>
        <td><%= link_to 'Edit', edit_producto_producto_path(producto_producto) %></td>
        <td><%= link_to 'Destroy', producto_producto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Producto Producto', new_producto_producto_path %>
