<%= form_with(model: cuenta_cuenta_cliente, local: true) do |form| %>
  <% if cuenta_cuenta_cliente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cuenta_cuenta_cliente.errors.count, "error") %> prohibited this cuenta_cuenta_cliente from being saved:</h2>

      <ul>
        <% cuenta_cuenta_cliente.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :cliente_id %>
    <%= form.collection_select(:cliente_id, Cliente.all, :id, :nombre, options = {}, {:class => "ui search dropdown"}) %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
     <%= form.collection_select(:user_id, User.all, :id, :email, options = {}, {:class => "ui search dropdown"}) %>
  </div>

  <div class="field">
    <%= form.label :fecha %>
    <%= form.datetime_select :fecha %>
  </div>

  <div class="field">
    <%= form.label :activo %>
    <%= form.check_box :activo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
