<p id="notice"><%= notice %></p>

<h1>Cuenta Cuenta Clientes</h1>

<table>
  <thead>
    <tr>
      <th>Activo</th>
      <th>Cliente</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cuenta_cuenta_clientes.each do |cuenta_cuenta_cliente| %>
      <tr>
        <td><%= cuenta_cuenta_cliente.activo %></td>
        <td><%= cuenta_cuenta_cliente.cliente.nombre %></td>
        <td><%= link_to 'Show', cuenta_cuenta_cliente %></td>
        <td><%= link_to 'Edit', edit_cuenta_cuenta_cliente_path(cuenta_cuenta_cliente) %></td>
        <td><%= link_to 'Destroy', cuenta_cuenta_cliente, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cuenta Cuenta Cliente', new_cuenta_cuenta_cliente_path %>
