<p id="notice"><%= notice %></p>
<div class="card">

<p>
  <strong>Cliente:</strong>
  <%= @cuenta_cuenta_cliente.cliente.nombre %>
</p>

<p>
  <strong>User:</strong>
  <%= @cuenta_cuenta_cliente.user.email %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @cuenta_cuenta_cliente.fecha %>
</p>




</div>
<%= link_to 'Edit', edit_cuenta_cuenta_cliente_path(@cuenta_cuenta_cliente) %> |
<%= link_to 'Back', cuenta_cuenta_clientes_path %>



<br>
<h1>Agregar Producto</h1>







  <%= form_with(model: Cuenta::Cotizacion.new, local: true, url: "#{@URL_DOMAIN}/cuenta/cuenta_clientes/#{@cuenta_cuenta_cliente.id}/cotizaciones") do |form| %>
  

  <div class="field">
    <%= form.label :producto_id %>
    
    <%= form.collection_select(:producto_id, Producto::Producto.all, :id, :nombre, options = {}, {:class => "ui search dropdown"}) %>
  </div>

  <div class="field">
    <%= form.label :cantidad %>
    <%= form.number_field :cantidad %>
  </div>

  <div class="field">
    <%= form.label :total %>
    <%= form.text_field :total %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

  <%end%>
  
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Producto o servicio</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Precio</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
